:root {
  --color-primary-white: #fff;
  --ff-font-fam: Poppins, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--ff-font-fam);
  box-sizing: border-box;
}
/* nav bar */
body {
  min-height: 100vh;
  background: url("./assets/blurry-gradient-haikei\ \(1\).png") center/cover
    no-repeat fixed;
}
a {
  text-decoration: none;
  font: 1rem;
  color: var(--color-primary-white);
}
i {
  padding-right: 10px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
}

.nav-flex-cont {
  width: 80%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 1);
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  min-width: fit-content;
  min-height: fit-content;
}
.button {
  position: relative;
  font-size: 1.5rem;
  padding-bottom: 4px;
}
.button:hover {
  color: var(--color-primary-white);
  transition: 0.3s;
}
.button::before,
.button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: var(--color-primary-white);
  transition: width 0.3s ease, left 0.3s ease;
}
.button:hover::before {
  width: 100%;
}
.button:hover::after {
  width: 100%;
  left: 0;
}
/* end of nav  */
/* main  */
.about-me-section {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  width: 80%;
}
.about-me-info {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 1);
  color: var(--color-primary-white);
  font-size: 1.5rem;
  max-height: fit-content;
  padding: 3rem;
  margin-right: 5rem;
  font-weight: 300;
  width: 70%;
}
.about-me-info h1 {
  font-weight: 300;
  padding-bottom: 2rem;
}
.illustration {
  width: 400px;
}
@media (max-width: 1200px) {
  .about-me-section {
    padding-top: 7rem;
    flex-direction: column;
    justify-content: unset;
    gap: 5rem;
  }
  .illustration {
    display: none;
  }
  .about-me-info {
    width: 100%;
    margin: 0;
  }
}

/* end of  main  */
